

<div class="containe">
  <p>Your question:  </p>
  <p><%= @question %></p>
</div>
<div class="coach_answer containe">
  <p><strong>Coach answer:</strong>  </p>
  <p><%= @answer %></p>
</div>
<%= link_to "Ask a new question", ask_path %>
