// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coach_answer{
  background-color: rgb(255, 254, 228);
  border-color: rgb(210, 210, 210);
  border: 0px 0px 0px 5px;

}


$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  padding-left: 50px;

}

.containe {
  border: 0px 0px 0px 5px;
  border-style: solid;
  border: $gray

}
